h1 {
    text-align: center;
    position: relative;
    top: 500px;
    color: maroon;
    font-size: 100px;
    font-family: 'Merriweather', serif;
}
html {
    background: url(500.png) no-repeat center fixed;
    background-size: 75%;
    background-position: center top 50px;
}