html {
  background-color:lightyellow;
}

h1 {
  font-size: 200px;
  font-family: 'Ultra', serif;
  color:red;
  margin: auto;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  font-size: 37px;
  font-family: 'Merriweather', serif;
  margin: auto;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  display: block;
  background-color: lightcoral;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: 'Merriweather', serif;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 400px;
  /*margin-top: 460px;
  margin-left: 845px;*/
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: cornsilk;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
button span:after {
  content: "\00bb";
  position: absolute; 
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}