html {
  background-color:lightyellow;
}

h1 {
  font-size: 200px;
  font-family: 'Ultra', serif;
  color:red;
  margin: auto;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  font-size: 37px;
  font-family: 'Merriweather', serif;
  margin: auto;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}