<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Ultra&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet" /> 
    <meta charset="UTF-8">
    <title>Dictator.io</title>
</head>
<body>
    <h1><b>Dictator.io</b></h1> 

    <a href="main">
        <button>
            <span>Begin</span>
        </button>
    </a>
    
    <p>Compare speeches to those of famous dictators using AI technology.</p>

</body>

</html>